<div class="row">
  <div class="large-6 large-offset-3 columns">
    <h3>Top Players</h3>
    <% counter = 0 %>
    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <th>Player</th>
          <th>Net Worth</th>
        </tr>
      </thead>
    <% @users.each do |user| %>
      <% counter += 1 %>
      <tr>
        <td>
          <%= "#{counter}. " %>
        </td>
        <td>
          <%= link_to user.email, user_path(user), class: 'username' %>
        </td>
        <td>
          <%= user.id %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>