<div class="row">
  <div class="large-6 large-offset-3 columns">
    <div class="panel home-bg">
      <h2>A stock market game.</h2>
      <h4 class="subheader">
        <ul class="inline-list">
          <li>Get $10 million in cash when you sign up.</li>
          <li>Trade stocks to increase your net worth.</li>
          <li>Compete with other players.</li>
        </ul>

        <div class="row">
          <div class="large-4 large-offset-8 columns">
            <%= link_to 'Sign up', new_user_registration_path, class: 'small button' %>
          </div>
        </div>
      </h4>
    </div>
  </div>
</div>


